################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

# Root logger
log4j.rootLogger=INFO,out,osgi:*
log4j.throwableRenderer=org.apache.log4j.OsgiThrowableRenderer

# Error appender
log4j.appender.out=org.apache.log4j.RollingFileAppender
log4j.appender.out.layout=org.apache.log4j.PatternLayout
log4j.appender.out.layout.ConversionPattern=%d{yyyy-MM-dd} %d{HH:mm:ss}  | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n
log4j.appender.out.file=${karaf.data}/log/error.log
log4j.appender.out.append=true
log4j.appender.out.maxFileSize=100MB
log4j.appender.out.maxBackupIndex=10

# Mqtt appender
log4j.appender.mqtt=org.apache.log4j.RollingFileAppender
log4j.appender.mqtt.layout=org.apache.log4j.PatternLayout
log4j.appender.mqtt.layout.ConversionPattern=%d{yyyy-MM-dd} %d{HH:mm:ss}  | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n
log4j.appender.mqtt.file=${karaf.data}/log/mqtt.log
log4j.appender.mqtt.append=true
log4j.appender.mqtt.maxFileSize=100MB
log4j.appender.mqtt.maxBackupIndex=10
log4j.additivity.mqtt=false

# Access appender
log4j.appender.access=org.apache.log4j.RollingFileAppender
log4j.appender.access.layout=org.apache.log4j.PatternLayout
log4j.appender.access.layout.ConversionPattern=%d{yyyy-MM-dd} %d{HH:mm:ss}  | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n
log4j.appender.access.file=${karaf.data}/log/access.log
log4j.appender.access.append=true
log4j.appender.access.maxFileSize=100MB
log4j.appender.access.maxBackupIndex=10
log4j.additivity.access=false

# DataBroker appender
log4j.appender.databroker=org.apache.log4j.RollingFileAppender
log4j.appender.databroker.layout=org.apache.log4j.PatternLayout
log4j.appender.databroker.layout.ConversionPattern=%d{yyyy-MM-dd} %d{HH:mm:ss}  | %-5.5p | %-16.16t | %X{tenantId} - %X{connectorName} | %m%n
log4j.appender.databroker.file=${karaf.data}/log/databroker.log
log4j.appender.databroker.append=true
log4j.appender.databroker.maxFileSize=100MB
log4j.appender.databroker.maxBackupIndex=10
log4j.additivity.databroker=false

# Microservice proxy appender
log4j.appender.msproxy=org.apache.log4j.RollingFileAppender
log4j.appender.msproxy.layout=org.apache.log4j.PatternLayout
log4j.appender.msproxy.layout.ConversionPattern=%d{yyyy-MM-dd} %d{HH:mm:ss}  | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n
log4j.appender.msproxy.file=${karaf.data}/log/microservice-proxy.log
log4j.appender.msproxy.append=true
log4j.appender.msproxy.maxFileSize=100MB
log4j.appender.msproxy.maxBackupIndex=10
log4j.additivity.msproxy=false


# CXF request and response info:
# * ERROR - none
# * INFO - just headers (default)
# * DEBUG - whole, with payloads
log4j.additivity.com.cumulocity.rest.interceptors=false
log4j.logger.com.cumulocity.rest.interceptors=INFO,access

# SmartRest logging
# * DEBUG - prints smartrest payload and smartrest responses
log4j.additivity.com.cumulocity.smartrest.interceptors=false
log4j.logger.com.cumulocity.smartrest.interceptors=INFO,access

# Error response info:
# * INFO - just error message (default)
# * DEGUB - full stack trace
log4j.logger.com.cumulocity.rest.mediatypes=INFO


#moquette log :
log4j.logger.com.nsn.cumulocity.dependencies.osgi.moquette=ERROR
log4j.logger.io.moquette.spi.ClientSession=WARN

# mqtt log
log4j.additivity.com.cumulocity.mqtt=false
log4j.logger.com.cumulocity.mqtt=DEBUG,mqtt
log4j.additivity.io.moquette.spi=false
log4j.logger.io.moquette.spi=DEBUG,mqtt

#data broker logger
log4j.additivity.DataBrokerLogger=false
log4j.logger.DataBrokerLogger=DEBUG,databroker

#microservice proxy logger
log4j.additivity.com.cumulocity.microservice.client=false
log4j.logger.com.cumulocity.microservice.client=TRACE,msproxy
log4j.additivity.com.cumulocity.microservice.proxy=false
log4j.logger.com.cumulocity.microservice.proxy=TRACE,msproxy
log4j.additivity.com.cumulocity.microservice.interceptors=false
log4j.logger.com.cumulocity.microservice.interceptors=INFO,access